@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

/*variáveis em CSS*/
:root {
    --cor0: #45C6ED;
    --cor1: #f1fcf6;
    --cor2: #62B7D9;
    --cor3: #3F6473;
    --cor4: #e5f6f7;
    --cor5: #3097BF;

    --fonte-padrao: 'Nunito Sans', Arial, Helvetica, sans-serif;

    --fonte-comum: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media ( max-width: 860px) {
    body {
        width: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-items: center;
    }

    .container-article {
        height: 300px;
        width: 400px;
        border-radius: 8px;
        margin-top: 25px;
        padding: 1em;
    }

    #quem-somos {
        margin-right: 0;
    }

    #quem-somos > p {
        text-align: justify;
    }

    footer {
        margin-top: 25px;
    }
}