@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');

/*variáveis em CSS*/
:root {
    --cor0: #45C6ED;
    --cor1: #f1fcf6;
    --cor2: #62B7D9;
    --cor3: #3F6473;
    --cor4: #e5f6f7;
    --cor5: #3097BF;

    --fonte-padrao: 'Nunito Sans', Arial, Helvetica, sans-serif;

    --fonte-comum: Arial, Helvetica, sans-serif;
}

#btn-mobile {
    display: none;
}

@media ( max-width: 860px) {
    header {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: solid 1px var(--cor3);
    }
    
    #menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 70%;
        height: calc(100vh - 60px);
        top: 60px;
        right: 0px;
        background-color: #3F6473;
        z-index: 1000;
        visibility: hidden;
        overflow: hidden;
        /* transition: left 400ms; */
    }
    #btn-mobile {
        display: block;
        margin-left: auto;
        border: none;
        transform: translateY(-5px);
        cursor: pointer;
        height: 55px;
    }
    #nav.active #menu {
        visibility: visible;
        overflow: auto;
    }

    .lista-menu {
        padding: 1rem;
        height: 20px;
        border-bottom: 1px solid #e5f6f785;
    }

    .links-menu {
        font-size: 0.85rem;
    }

    /* .abrir-dropdown::before {
        content: '\2335 ';
    } */

    .links-menu:hover {
        background-color: transparent;
    }

    .links-menu:focus {
        background-color: transparent;
    }
    
    #dropdown.ative {
        display: block;
        margin-top: 1px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .abrir-lista-dropdown.ative {
        height: 150px;
    }

    main {
        align-self: center;
        width: 100%;
    }

    #principal {
        display: flex;
        position: relative;
        text-align: center;
        flex-direction: column;
        border-bottom: solid 1px var(--cor3);
    }

    .artigo-principal {
        position: absolute;
    }

    .artigo-principal > p {
        text-align: justify;
    }
    /* .foto-capa {
        size: 90px;
    } */

    #artigo-segundo {
        color: black;
        background-color: var(--cor1);
    }

    #artigo-segundo > h1 {
        color: var(--cor3);
        margin: 5px;
    }

    .slides {
        background-color: var(--cor3);
    }

    /* Next & previous buttons */
    .prev, .next {
        top: 80%;
        width: auto;
        /* margin-top: -25px; */
    }

    .serviço {
        width: 95%;
    }
}